<div class="full-screen penguins" data-photo="penguins">
<br><br><br><br><br>

  <div class="container cont-center" style="opacity: 0;">
    <div class="row">
      <div class="col-12 col-md-8 ml-auto mr-auto">
        <div class="text-center">
          <h3 class="colour-title question">Your Entry</h3>
          <p class="description advice text-white">
          <%= @entry.created_at.strftime("%A, %B %e,  %Y") %>
          </p>
        </div>
        <div class="card card-raised card-form-horizontal mt-4" style="overflow-y: scroll; height: 500px;">
          <div class="card-body pr-5 answer-container">
            <% @entry.prompts.order(:question_id).each do |prompt| %>
              <% if prompt.answers.count > 0 %>
                <h5 class="orange"><%= prompt.question.body %></h5>
                <% prompt.answers.each do |answer| %>
                  <%= answer.body.capitalize %><br>
                <% end %>
                <br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
