<div class="subscribe-line subscribe-line-image full-screen penguins" data-photo="penguins">
  <br><br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="text-center">
          <h3 class="colour-title question"></h3>
          <p class="description advice"></p>
        </div>

        <div class="card card-raised card-form-horizontal">
          <div class="card-body pr-5 answer-container">
            <div id="input-container"></div>
            <div class="row justify-content-end">
              <div class="col-1 col-sm-6 col-md-7 col-lg-8"></div>
              <div class="col-11 col-sm-6 col-md-5 col-lg-4 mt-2">
                <button type="button" class="btn btn-primary btn-block llama submit-button">DONE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<i class="fal fa-acorn fa-2x colour-title"></i>
<i class="fal fa-seedling fa-2x colour-title"></i>
-->

<template id="answer-template">
  <div class="row">
    <div class="col-12">
      <span class="bmd-form-group"><div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fal fa-heart-circle colour-title"></i>
          </span>
        </div>
        <input type="text" value="" placeholder="Kitty was extra cuddly tonight" class="form-control answer-input">
      </div></span>
    </div>
  </div>
</template>

<template id="textbox-template">
  <div class="row">
    <div class="col-12">
      <span class="bmd-form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
<!--               <i class="fal fa-heart-circle colour-title"></i> -->
            </span>
          </div>
          <textarea rows="5" placeholder="Kitty why you so fuzzy" class="form-control textbox-input"></textarea>
        </div>
      </span>
    </div>
  </div>
</template>