<div class="subscribe-line subscribe-line-image" style="background-image: url('https://images.unsplash.com/photo-1517784120905-d9f8d5aced1a?ixlib=rb-0.3.5&s=fd6eae864a8bc5f633a1673bbc14cc75&auto=format&fit=crop&w=2250&q=80');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="text-center">
          <h3 class="colour-title">Tell me 3 things you're grateful for right now</h3>
          <p class="description">
            You don't have to think big. It's the little things...
          </p>
        </div>

        <div class="card card-raised card-form-horizontal">
          <div class="card-body pr-5">
            <form id="answer-container" method="" action=""></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<i class="fal fa-acorn fa-2x colour-title"></i>
<i class="fal fa-seedling fa-2x colour-title"></i>


<template id="button-template">
  <div id="superbutton" class="row justify-content-end">
    <div class="col-8"></div>
    <div class="col-4 mt-2">
      <button type="button" class="btn btn-primary btn-block candle-button">DONE</button>
    </div>
  </div>
</template>

<template id="answer-template">

  <div class="row kittens">
    <div class="col-12">
      <span class="bmd-form-group"><div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fal fa-heart-circle colour-title"></i>
          </span>
        </div>
        <input type="text" value="" placeholder="Kitty was extra cuddly tonight" class="form-control">
      </div></span>
    </div>
  </div>

</template>
