.colour-title {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

.btn-orange {
  background: linear-gradient(60deg,#ef5350,#f09643);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6) !important;
  background-color: #f09643 !important;
  border-color: #f09643 !important;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  padding: 12px 30px 12px 30px;
}

h1.orange,h2.orange,h3.orange,h4.orange,h5.orange,a.orange {
  color: #ef5350;
}

p {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

#welcome-modal {
  border-radius: 20px;
}

#wordcloud {
  overflow-y: hidden;
  height: 320px;
}

/*.cont-center {
  margin-top: calc(30%);
}*/

.form-control {
 /* background-image: linear-gradient(60deg,#ef5350,#f09643) !important; <- use if you can make it an underline*/
  //background-image: linear-gradient(0deg,#f09643 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0) !important;
  background-image: linear-gradient(0deg, #f09643 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0) !important;
  //background-image: linear-gradient(0deg, rgb(240, 150, 67) 2px, rgba(156, 39, 176, 0) 0px) repeat scroll 0% 0% / auto padding-box padding-box, rgb(255, 255, 255) linear-gradient(0deg, rgb(210, 210, 210) 1px, rgba(209, 209, 209, 0) 0px) repeat scroll 0% 0% / auto padding-box padding-box;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  height: 36px;
  padding: 10.5px 0 10.5px 0;
  box-shadow: none;
  border: 0px none rgb(206, 212, 218);
  border-radius: 0 6px 6px 0;
  //transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: background 0s ease-out;
  background: no-repeat bottom,50% calc(100% - 1px);
  background-size: 0 100%,100% 100%;
}
.form-control:focus {
  background-size: 100% 100%,100% 100%;
  background-color: transparent;
  transition-duration: .3s;
  color: #495057;
  outline: 0;
  z-index: 3;
  box-shadow: none;
}

.mood-input{
  padding: 0 0 0 0;
}

.form-control::placeholder {
  color: #bebebe;
  opacity:1;
}

.field > input{
  padding: 1px 5px 1px 10px;
}

textarea {resize: none}

.input-group-text {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  height: 36px;
}

.card-body {
  padding: 22.5px 72px 22.5px 15px;
}

html, body {
  overflow: hidden;
}

.full-screen {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.66);
  background-size: cover;
  background-position: center;
  transition: background 1s ease-in-out;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
}
.full-screen:after {
  background-color: rgba(0,0,0,.66);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.navbar-brand {
  font-size: 1.725rem;
  line-height: 30px;
  padding: .625rem 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.navbar-item {
  font-size: 1.25rem;
  line-height: 30px;
  padding: .625rem 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.nav-link {
  font-size: 1.35rem;
  line-height: 20px;
  padding: .45rem 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.navbar-toggler:focus {
  outline-color: #ef9144 !important;
}
.navbar-toggler-icon {
  height: 40px;
  width: 40px;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.question {
  font-size: 2.15rem;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  margin: 20px 0 10px 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.advice {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-align: center!important;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  margin: 0 auto;
  /*border-right: 2px solid rgba(255,255,255,.75);*/
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.diss-bar{
  left: 48%;
  width: 50px;
  height: 200px;
  position: relative;
}
.diss-bar-entries{
  background-color:tomato;
  width: 100%;
  height: 100%;
  position: absolute;
}
.diss-bar-dissonant{
  background-color:#FDEBD0;
  position: absolute;
  width: 100%;
  height: 0%;
}

.modal-tab{
  color: black !important;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-tab:active{
  color: #f09643 !important;
}

.modal-title {
  font-size: 1.5625rem;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

canvas.fireworks {
  -webkit-transform: translateZ(0);
  opacity: 0.5;
}

.penguins   {background-image: url('https://d3827n6zcogzlq.cloudfront.net/penguins.jpg');}
.butterfly  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/butterfly.jpg');}
.doggo      {background-image: url('https://d3827n6zcogzlq.cloudfront.net/doggo.jpg');}

.llama1 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama1.jpg');}
.llama2 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama2.jpg');}
.llama3 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama3.jpg');}
.llama4 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama4.jpg');}
.llama5 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama5.jpg');}
.llama6 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama6.jpg');}
.llama7 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama7.jpg');}
.llama8 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/llama8.jpg');}

.plains1  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains1.jpg');}
.plains2  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains2.jpg');}
.plains3  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains3.jpg');}
.plains4  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains4.jpg');}
.plains5  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains5.jpg');}
.plains6  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains6.jpg');}
.plains7  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains7.jpg');}
.plains8  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains8.jpg');}
.plains9  {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains9.jpg');}
.plains10 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains10.jpg');}
.plains11 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains11.jpg');}
.plains12 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains12.jpg');}
.plains13 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains13.jpg');}
.plains14 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains14.jpg');}
.plains15 {background-image: url('https://d3827n6zcogzlq.cloudfront.net/plains15.jpg');}

.close:focus {
  outline-color: #ef9144;
}

@keyframes slideOutUpBig {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -200%, 0);
  }
}

.slideOutUpBig {
  animation-name: slideOutUpBig;
}

@keyframes slideInUpBig {
  from {
    transform: translate3d(0, 200%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: hidden;
  }
}

.slideInUpBig {
  animation-name: slideInUpBig;
}

@-webkit-keyframes hue{
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(38) 2s 1 normal both;
             /*blinkTextCursor 700ms steps(38);*/
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
