<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand text-white" href="/">Daily Llama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-transparent"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--
      <li class="nav-item active">
        <a class="nav-link text-white test-stable" href="/">Test Stable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white test-dissonant" href="/">Test Dissonant</a>
      </li>
    -->
      <% if current_user %>
      <li class="nav-item">
        <%= link_to "Entries", entries_url, 'class' => 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/trends">Trends</a>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, 'class' => 'nav-link text-white' %>
      </li>
      <% else %>
      <li class="nav-item">
        <a id="account-link" class="nav-link text-white" href="javascript:void(0)" data-toggle="modal" data-target="#account-modal">Account</a>
      </li>
      <li class="nav-item ajax-user" style="display:none;">
        <%= link_to "Entries", entries_url, 'class' => 'nav-link text-white' %>
      </li>
      <li class="nav-item ajax-user" style="display:none;">
        <a class="nav-link text-white" href="/trends">Trends</a>
      </li>
      <li class="nav-item ajax-user" style="display:none;">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, 'class' => 'nav-link text-white' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>